/* navbar  */
.collapse {
  max-width: 83vw;
  margin: 2px auto;
}

ul li a span {
  padding: 0rem 0.6rem;
  font-weight: 500;
  font-size: var(--medium-small);
  color: var(--color-gray-100);
}



.navigation {
  background-color: var(--color-white) !important;
}

.logotext {
  padding: 0rem 0.5rem;
  font-size: 1.25rem;
}

.nav-link {
  display: block;
  padding: 1rem;
}

.navitems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 8rem;

}

.active {
  cursor: text !important;
}

.nav-item {
  font-size: var(--very-small);
  padding: 0rem 0.5rem;
  color: var(--medium-grey);
}

.btn a {
  font-weight: 500;
  color: var(--light-black);
  text-decoration: none;
  padding-right: 1.5rem;
  font-size: var(--very-small);
  cursor: initial;
}

#signupbtn {
  padding: 0.4rem 2rem;
  border-radius: 25px;
  font-weight: 500;
  font-size: 0.8rem !important;
}

/* about section  */

.about {
  max-width: 80vw;
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0px 0px 0px;
}

#logotxt {
  font-weight: bold;
}


.about_text .about_head {
  font-size: 3.12rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.about_text .about_desc {
  font-size: var(--very-small);
  line-height: 1.6rem;
  letter-spacing: .1px;
  width: 40vw;
}

.about_img img {
  width: 37vw;
}

.getstarted-btn {
  background-color: var(--btns-bg-color);
  border: 1px solid var(--btns-bg-color);
  color: var(--color-white);
  font-size: var(--very-small);
  padding: .9rem 4rem;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 3rem;
}

.emptydiv-shadow {
  background-color: #F53838;
  filter: blur(20px);
  width: 11.24rem;
  position: relative;
  top: 0rem;
  height: 1rem;
  left: 1rem;
}

/* user box  */

.user_box {
  max-width: 70vw;
  margin: 5rem auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.shadowbox {
  width: 53.8rem;
  max-width: 80vw;
  background-color: #0d1025;
  filter: blur(51px);
  position: relative;
  height: 3rem;
  left: 12rem;
  bottom: 10rem;
  z-index: 1;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_of_userbox {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  color: #4F5665;
}

.count {
  color: #0B132A;
  font-weight: bold;
  font-size: 1.3rem;
}

.sep_line {
  position: relative;
  left: 6rem;
}

/* feature section */

.feature_text {
  width: 31vw;
}


.feature_title {
  color: var(--color-gray);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .9rem;
}

.feature_text .feature_desc {
  width: 31vw;
}

.features {
  padding: 0rem 0px 6rem 0px;
}

.feature_list ul li {
  list-style: none;
  padding: .4rem 0px;
  font-size: var(--li-small);

}

.title {
  text-align: center;
  color: var(--color-gray);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0px;
}

.desc {
  text-align: center;
  max-width: 38vw;
  margin: 2px auto;
  font-size: var(--very-small);
  line-height: 1.7rem;
}

/* plan section  */

.plans {
  background-color: #f9f9f9;
  padding-bottom: 5rem;
}

.plan_head {
  max-width: 60vw;
  margin: 2px auto;
  text-align: center;
  padding: 4rem 0;
}

.plan_boxes {
  max-width: 80vw;
  margin: 2px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.plan_single_box {
  width: 17rem;
  padding: 3rem 3rem 2rem 3rem;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.plan_single_box>img {
  width: 7.06rem;
}

.plan_type {
  color: #0B132A;
  font-size: var(--medium-small);
  margin: 1.5rem 0px;
}

.plan_boxes div ul {
  height: 12rem;
}

.plan_boxes div ul li {
  list-style: none;
  font-size: var(--li-small);
  padding: 0.2rem 0;
}

.plan_boxes div ul li>img {
  padding: 0rem 0.2rem;
}


.plan_price {
  color: #0B132A;
  font-size: 1.3rem;
  font-weight: 480;
  padding: 1rem 0;
}

.plan_price span {
  opacity: 0.7;
  font-size: 1.1rem;
  font-weight: 400;
}

.plan_single_box .btn {
  padding: .4rem 3rem;
  color: #F53838;
  border-color: #F53838;
  border-radius: 50px;
  border-width: 2px;
  font-weight: 500;
}

.plan_single_box .btn:hover {
  color: var(--color-white);
}

.plan_single_box .emptydiv-shadow {
  background-color: #F53838;
  filter: blur(20px);
  width: 8.24rem;
  position: relative;
  top: 0rem;
  height: 1rem;
  left: 0rem;
}

.plan_selected .btn {
  background-color: #F53838;
  color: #fff;
}

.shadow_selected {
  background-color: #F53838;
  filter: blur(20px);
  width: 8.24rem;
  position: relative;
  top: 0rem;
  height: 1rem;
  left: 0rem;
}

/* location map  */

.location {
  background-color: inherit;
}

.location_head {
  margin-top: 5rem;
}

.location_head .title {
  max-width: 22rem;
  margin: 2px auto;
}

.map_image {
  max-width: 80vw;
  margin: 2px auto;
}

.map_image img {
  width: 80vw;
  margin-top: 4rem;
}

.sponsard_image {
  max-width: 80vw;
  margin: 2px auto;
}

.sponsard_image img {
  width: 80vw;
}

/* testimonial  */

.testmonial {
  background-color: inherit;
  margin-top: 2rem;
}

.testimonial_head {
  max-width: 50vw;
  margin: auto;
}

.testimonial_head .desc {
  margin-bottom: 2rem;
}

.name span {
  font-size: 1rem;
  font-weight: 500;
  color: #0B132A;
}

.name p {
  font-size: 0.88rem;
  color: #4F5665;
}

#resize_img {
  width: 3.9vw;
}

.review {
  color: #0B132A;
  font-size: .9rem;
}

.testimonial_cards {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px auto;
  flex-wrap: wrap;
}


.single_card {
  width: 22rem;
  height: 14rem;
  border: 1.5px solid grey;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin: 1rem auto;
}

.img_txt_star {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img_txt_star .name {
  padding-left: 1rem;
  padding-top: 1rem;
}

.img_txt_star .rating {
  padding-left: 5rem;
}

.rating img {
  padding-left: 0.3rem;
}

.points {
  display: flex;
  gap: 12px;
  align-items: center;
}

.points_btns {
  width: 88vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.union-parent {
  position: absolute;
  top: 34.53rem;
  left: 0;
  width: 8.44rem;
  height: 0.94rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.94rem;
}

.ellipse-div,
.union-icon {
  width: 2.81rem;
  position: relative;
  height: 0.94rem;
}

.ellipse-div {
  width: 0.94rem;
  border-radius: 50%;
  background-color: #0b132a;
}

.left_right {
  margin-right: 6rem;
}

.left_right img {
  padding: 0rem .5rem;
  cursor: pointer;
}


/* subscribe */
.subscribe {
  max-width: 70vw;
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 3.5rem;
  position: relative;
  background-color: #FFFFFF;
  top: 90px;
  box-shadow: 1px 2px 9px -3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}

.subscribe_text {
  width: 21rem;
}

.subscribe_head {
  font-weight: 500;
  font-size: 2rem;
  color: #0b132a;
}

.subscribe_desc {
  font-size: var(--very-small);
  color: #4F5665;
}

.subscribe_button .getstarted-btn {
  margin-top: 0;
}

/* footer  */
.footer {
  background-color: #f9f9f9;
  margin-bottom: 4rem;
}

.logotext span {
  padding: 0 .6rem;
  color: #0B132A;
  font-weight: 500;
}

.logoandlinks p {
  text-align: left;
}

.desc #bold {
  font-weight: 500;
}

.textlowopacity {
  color: #AFB5C0;
}

.icons img {
  width: 3rem;
  cursor: pointer;
}

.footer_items {
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px auto;
  padding-top: 10rem;

}

.logoandlinks {
  max-width: 25vw;

}

.logoandlinks li {
  list-style: none;
}

.logoandlinks li a {
  color: black;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.footer_subitems {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 6rem;
}

.lists ul li {
  list-style-type: none;
  padding: .4rem 0rem;
  color: #4F5665;
}

.list_head {
  font-weight: 500;
  font-size: 1.1rem;
  color: #0B132A !important;
  margin-bottom: .6rem;
}


/* media queries  */

@media screen and (min-width:1200px) {
  .navitems {
    margin: 0px 8rem;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .navitems {
    margin: 0px 0rem;
  }

  .about_text .about_head {
    font-size: 2.5rem;
  }

  .feature_title {
    font-size: 1.8rem;
  }

  .map_image img {
    width: 80vw;
    margin-top: 4rem;
  }

  .sponsard_image img {
    width: 82vw;
  }

  .about_text .about_desc {
    font-size: 0.8rem;
  }

  .shadowbox {
    width: 43.8rem;
  }

  .user_box {
    max-width: 80vw;
  }

  .plan_boxes {
    max-width: 90vw;
  }

  .name span {
    font-size: .8rem;
  }
}

@media screen and (min-width: 620px) and (max-width: 990px) {
  .collapse {
    max-width: 80vw;
  }

  .active {
    margin: 0rem 3rem;
  }

  .navitems {
    justify-content: space-evenly;
    margin: 0px 0rem;
  }

  .collapse .btn>a {
    margin: 0rem 3rem;

  }

  .about_text .about_head {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }

  .about_text .about_desc {
    font-size: .7rem;
    line-height: 1.2rem;
  }

  .getstarted-btn {
    font-size: 0.6rem;
    padding: .9rem 3rem;
  }

  .emptydiv-shadow {
    left: 0rem;
  }

  .user_box {
    max-width: 80vw;
  }

  .sep_line {
    left: 2rem;
  }

  .feature_title {
    font-size: 1.8rem;
  }

  .subscribe {
    flex-direction: column;
  }

  .footer_items {
    flex-direction: column;
  }

  .logoandlinks {
    max-width: 50vw;
  }

  .subscribe_head {
    font-size: 1.8rem;
  }

  .logoandlinks .active {
    margin: 0rem -2rem;
  }
}

@media screen and (max-width: 620px) {

  .collapse {
    max-width: 80vw;
  }

  .active {
    margin: 0rem 0rem;
  }

  .navitems {
    justify-content: space-evenly;
    margin: 0px 0rem;
    flex-direction: column;
  }



  .collapse .btn {
    margin: 1rem auto;

  }

  .collapse .btn>a {
    margin: 0rem 0rem;

  }

  .about_img img {
    width: 60vw;
    position: relative;
    top: 20rem;
    right: 9rem;
  }

  .about_text .about_head {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }

  .about_text .about_desc {
    font-size: .7rem;
    line-height: 1.2rem;
  }

  .getstarted-btn {
    font-size: 0.6rem;
    padding: .9rem 3rem;
  }

  .emptydiv-shadow {
    left: 0rem;
  }

  .user_box {
    max-width: 80vw;
    margin: 20rem auto;
    flex-direction: column;
    padding: 0rem 0rem 3rem 0;
  }

  .one .sep_line {
    transform: rotate(90deg);
    top: 3rem;
    left: -4rem;
  }

  .shadowbox {
    left: 6rem;
    bottom: 20rem;
  }

  .features img {

    position: relative;
    top: 0;
    right: 0;
  }

  .features {
    flex-direction: column;
  }

  .feature_title {
    margin-top: 2rem;
  }

  .feature_text {
    width: 54vw;
  }

  .single_card {
    height: 17rem;
  }

  .points_btns {
    flex-direction: column;
  }

  .left_right {
    margin: 1rem 0;
  }

  .subscribe {
    flex-direction: column;
  }

  .subscribe_text {
    width: 10rem;
  }

  .footer_items {
    flex-direction: column;
  }

  .logoandlinks {
    max-width: 50vw;
  }

  .subscribe_head {
    font-size: 0.8rem;
  }

  .logoandlinks .active {
    margin: 0rem -2rem;
  }

  .footer_subitems {
    flex-direction: column;
  }
}